@import "tailwindcss";

@theme {
  --font-sans: "Futura Medium", "Futura", "Gill Sans", "Arial", sans-serif;
  --font-heading: "Futura Bold", "Futura", "Gill Sans Bold", "Arial Black", sans-serif;
  
  --color-brand-yellow: #E9A616;
  --color-brand-orange: #E65124;
  --color-brand-canary: #EFC01A;
  
  --color-brand-blue: #0F5B89;
  --color-sdg-blue: #0F5B89;
  --color-sdg-green: #4C9F38;
  --color-code-red: #E5243B;
  --color-brand-gray: #7A7A7A;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

